CLASSES=none
BASEDIR=/usr/local/share/games
TZ=PST
PATH=/sbin:/usr/sbin:/usr/bin:/usr/sadm/install/bin
PKG=iDquake2
NAME=ID Software Quake2 3.21 for Solaris 8 (X11,XIL,GLX,SDL)
VERSION=
CATEGORY=application,graphics,opengl
DESC=ID Software Quake2 3.21+rCVS for Solaris 8 (http://www.icculus.org/quake2)
VENDOR=http://www.icculus.org/quake2
EMAIL=q2solaris@cojot.name
PKGSAV=/var/sadm/pkg/iDquake2/save
