<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beloko.abuse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        >
        <activity
            android:name="com.beloko.opengames.abuse.Game"
            android:configChanges="orientation|keyboardHidden"
            android:label="Abuse"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--
        <activity
            android:name="com.beloko.opengames.abuse.Game"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"

            android:screenOrientation="sensorLandscape"
            >
        </activity>
        -->
        <!--
        <activity
            android:name="com.beloko.idtech.avp.Game"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:process=":Game"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
         <activity
            android:name="com.beloko.idtech.descent.Game"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:process=":Game"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.beloko.idtech.hw.Game"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:process=":Game"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
-->
    </application>

    <uses-sdk android:minSdkVersion="12" />

</manifest>